@font-face {
font-family:OpenSans-Regular;
src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
font-family:AlexBrush-Regular;
src: url(../fonts/AlexBrush-Regular.ttf);
}

body{
	font-family: Times, Arial, Helvetica;
	background-image: url(../img/fondo.jpg);
}

h1{
	font-family: AlexBrush-Regular, Arial, Helvetica;
	padding-top: 20px;
	color: #4E342E;
	font-size: 70px;
	text-align: center;
	line-height: 40px;
}

header{
	width: 70%;
	margin: 0 auto;
}

p{
	text-align: center;
	padding: 20px 0;
	font-size: 22px;
	color: #4E342E;
	width: 80%;
	margin: 0 auto;
}

#formulario p:first-child{
	width: 80%;
	margin: 30px auto;
	background-color: rgba(250, 250, 250,0.6);
	text-align: center;
	color: #4E342E;
	padding: 20px 0px;
	font-size: 22px;
}

i{
	margin: 0 45%;
	color: #4E342E;
}

form{
	width: 25%;
	margin: 10px auto;
	background-color: rgba(250, 250, 250,0.6);
	padding: 20px 50px;
	border-radius: 20px;
}

label{
	text-align: left;
	font-family: OpenSans-Regular;
}

input[type="text"], input[type="email"]{
	width: 100%;
	display: block;
	margin-bottom: 10px;
	height: 18px;
}

input[type="checkbox"]{
	color: #4E342E;
}

select{
	width: 60%;
	display: block;
	margin: 10px auto;
}

button{
	width: 100px;
	height: 30px;
	display: block;
	margin: 20px auto;
}

